:root {
  /* Typography */
  --font-family: system-ui;
  --font-family-session-tree: Tahoma, Geneva, sans-serif;
  --font-size-xxs: 0.55rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  /* Colors */
  --background-color-primary: rgb(31, 31, 31);
  --background-color-secondary: rgb(24, 24, 24);

  /* Session tree list items */
  --list-icon-foreground: rgb(204, 204, 204);
  --list-indent-guide-stroke: rgb(140, 140, 140);
  --list-item-active-foreground: rgb(255, 255, 255);
  --list-item-child-open-foreground: rgb(40, 190, 0);
  --list-item-discarded-foreground: rgb(100, 140, 89);
  --list-item-focused-border-color-gradient-1: rgb(209, 113, 37);
  --list-item-focused-border-color-gradient-2: rgb(209, 54, 72);
  --list-item-focused-border-color-gradient-3: rgb(145, 37, 209);
  --list-item-focused-border-color-gradient-4: rgb(37, 85, 209);
  --list-item-hover-background: rgb(25, 34, 42);
  --list-item-open-foreground: rgb(156, 183, 211);
  --list-item-saved-foreground: rgb(140, 140, 140);
  --list-item-selected-background: rgb(27, 54, 82);
  --drag-and-drop-foreground: rgba(40, 190, 0, 0.8);
  --drag-and-drop-background: rgba(106, 255, 0, 0.1);
  --drag-and-drop-hover: rgba(255, 255, 255, 0.03);
  --pin-icon-foreground: rgb(204, 204, 204);

  /* Options */
  --nav-panel-active-background: rgb(4, 57, 94);
  --nav-panel-border-color: rgb(43, 43, 43);
  --nav-panel-focused-active-background: rgb(55, 55, 61);
  --nav-panel-hover-color: rgb(42, 45, 46);
  --text-color-primary: rgb(204, 204, 204);
  --header-text-color: rgb(255, 255, 255);
  --button-active-background: rgb(100, 140, 89);
  --button-active-background-hover: rgb(127, 151, 121);
  --button-active-foreground: rgb(24, 24, 24);
  --options-input-border-color: rgb(42, 45, 46);
  --options-input-border-color-hover: rgb(21, 99, 163);
  --options-list-divider-color: rgb(97, 97, 97);

  /* Prepend width for indenting */
  --prepend-width: 18px;
}
